<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.AlikeSickOfEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.AlikeSickOfEnterprise">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="idNum" property="idNum" />
        <result column="org" property="org" />
        <result column="checkDate" property="checkDate" />
        <result column="checkYear" property="checkYear" />
        <result column="checkMonth" property="checkMonth" />
        <result column="sickYear" property="sickYear" />
        <result column="isReport" property="isReport" />
        <result column="enterpriseId" property="enterpriseId" />
        <result column="workplaceId" property="workplaceId" />
        <result column="postId" property="postId" />
        <result column="postDangerId" property="postDangerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, idNum, org, checkDate, checkYear, checkMonth, sickYear, isReport, enterpriseId, workplaceId, postId, postDangerId
    </sql>

</mapper>
