<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.CheckOfEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.CheckOfEnterprise">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="isAccept" property="isAccept" />
        <result column="checkDate" property="checkDate" />
        <result column="org" property="org" />
        <result column="content" property="content" />
        <result column="question" property="question" />
        <result column="isPunish" property="isPunish" />
        <result column="type" property="type" />
        <result column="money" property="money" />
        <result column="isChange" property="isChange" />
        <result column="enterpriseId" property="enterpriseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, isAccept, checkDate, org, content, question, isPunish, type, money, isChange, enterpriseId
    </sql>

</mapper>
