<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.DataVisualSwitchFlagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.DataVisualSwitchFlag">
        <id column="id" property="id" />
        <result column="nationSwitch" property="nationSwitch" />
        <result column="provinceOrCitySwitch" property="provinceOrCitySwitch" />
        <result column="citySwitch" property="citySwitch" />
        <result column="countryOrDistrictSwitch" property="countryOrDistrictSwitch" />
        <result column="enterpriceSwitch" property="enterpriceSwitch" />
        <result column="jianceSwitch" property="jianceSwitch" />
        <result column="tijianSwitch" property="tijianSwitch" />
        <result column="zhenduanSwitch" property="zhenduanSwitch" />
        <result column="zhengfuSwitch" property="zhengfuSwitch" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nationSwitch, provinceOrCitySwitch, citySwitch, countryOrDistrictSwitch, enterpriceSwitch, jianceSwitch, tijianSwitch, zhenduanSwitch, zhengfuSwitch
    </sql>

</mapper>
