<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.JianceDetailResultOfServiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.JianceDetailResultOfService">
        <id column="id" property="id" />
        <result column="checkResult" property="checkResult" />
        <result column="type" property="type" />
        <result column="unit" property="unit" />
        <result column="jianceBasicId" property="jianceBasicId" />
        <result column="jianceDetailId" property="jianceDetailId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, checkResult, type, unit, jianceBasicId, jianceDetailId
    </sql>

</mapper>
