<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.MonitorOfEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.MonitorOfEnterprise">
        <id column="id" property="id" />
        <result column="cycle" property="cycle" />
        <result column="monitorTime" property="monitorTime" />
        <result column="monitorResult" property="monitorResult" />
        <result column="unit" property="unit" />
        <result column="decideResult" property="decideResult" />
        <result column="enterpriseId" property="enterpriseId" />
        <result column="workplaceId" property="workplaceId" />
        <result column="postId" property="postId" />
        <result column="postDangerId" property="postDangerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cycle, monitorTime, monitorResult, unit, decideResult, enterpriseId, workplaceId, postId, postDangerId
    </sql>

</mapper>
