<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.PersonProtectOfEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.PersonProtectOfEnterprise">
        <id column="id" property="id" />
        <result column="isSet" property="isSet" />
        <result column="name" property="name" />
        <result column="modelNum" property="modelNum" />
        <result column="count" property="count" />
        <result column="cycle" property="cycle" />
        <result column="isCorrect" property="isCorrect" />
        <result column="isReplace" property="isReplace" />
        <result column="enterpriseId" property="enterpriseId" />
        <result column="workplaceId" property="workplaceId" />
        <result column="postId" property="postId" />
        <result column="postDangerId" property="postDangerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, isSet, name, modelNum, count, cycle, isCorrect, isReplace, enterpriseId, workplaceId, postId, postDangerId
    </sql>

</mapper>
