<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.ServiceOfSuperviseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.ServiceOfSupervise">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="jianceLevel" property="jianceLevel" />
        <result column="jianceIncrease" property="jianceIncrease" />
        <result column="jianceSum" property="jianceSum" />
        <result column="tijianIncrease" property="tijianIncrease" />
        <result column="tijianSum" property="tijianSum" />
        <result column="zhenduanIncrease" property="zhenduanIncrease" />
        <result column="zhenduanSum" property="zhenduanSum" />
        <result column="superviseId" property="superviseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, jianceLevel, jianceIncrease, jianceSum, tijianIncrease, tijianSum, zhenduanIncrease, zhenduanSum, superviseId
    </sql>

</mapper>
