<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.SuperviseOfRegisterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.SuperviseOfRegister">
        <id column="id" property="id" />
        <result column="provinceName" property="provinceName" />
        <result column="provinceCode" property="provinceCode" />
        <result column="cityName" property="cityName" />
        <result column="cityCode" property="cityCode" />
        <result column="districtName" property="districtName" />
        <result column="districtCode" property="districtCode" />
        <result column="registerAddress" property="registerAddress" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, provinceName, provinceCode, cityName, cityCode, districtName, districtCode, registerAddress, name, email, mobile
    </sql>

</mapper>
