<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.TestSumOfEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.TestSumOfEnterprise">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="shouldNum" property="shouldNum" />
        <result column="realNum" property="realNum" />
        <result column="testRate" property="testRate" />
        <result column="stopNum" property="stopNum" />
        <result column="enterpriseId" property="enterpriseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, month, shouldNum, realNum, testRate, stopNum, enterpriseId
    </sql>

</mapper>
