<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.TouchPersonOfEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.TouchPersonOfEnterprise">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="idNum" property="idNum" />
        <result column="gender" property="gender" />
        <result column="birth" property="birth" />
        <result column="startDate" property="startDate" />
        <result column="leaveDate" property="leaveDate" />
        <result column="touchYear" property="touchYear" />
        <result column="isBuy" property="isBuy" />
        <result column="isSign" property="isSign" />
        <result column="enterpriseId" property="enterpriseId" />
        <result column="workplaceId" property="workplaceId" />
        <result column="postId" property="postId" />
        <result column="postDangerId" property="postDangerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, idNum, gender, birth, startDate, leaveDate, touchYear, isBuy, isSign, enterpriseId, workplaceId, postId, postDangerId
    </sql>

</mapper>
